<form action="https://www.google.com/accounts/o8/ud" method="POST">
Login with <input type="submit" value="Google">
<input type=hidden name="openid.mode" value="checkid_immediate"><input type=hidden name="openid.ns" value="http://specs.openid.net/auth/2.0"><input type=hidden name="openid.return_to" value="http://redrob.in/main/google_callback">
</form>
