<html>
    <head>
      <link rel="alternate" href="http://redrob.in/feeds/<%= @username %>" type="application/atom+xml" title="ATOM feed"/>

        <style>
          body {
            background-image:url('/images/background.jpg');
          }
          #background {
              width:800px;
              margin-left:auto;
              margin-right:auto;
              background-color:rgba(0,10,10, 0.5);
              min-height:500px;
              padding:20px;
          }
          #greeting {
              width:500px;
              margin-left:auto;
              margin-right:auto;
              text-align:center;
          }
          iframe {
              float:right;
              height:300px;
              width:200px;
              //margin-right:-20px;
              margin-top:-50px;
          }

        </style>
    </head>
    <body>
        <div id="background">
          <div id="greeting">
            <h1><%= @username %></h1>
          </div>
          <iframe src="http://imm.victusmedia.com/widget"  scrolling="no"></iframe>
          <% @this_user.statuses.sort_by{ |x| x.updated_at }.slice(0,15).each do |status| %>
           <p>
            <%= status.title %><br/>
            <%= distance_of_time_in_words(status.updated_at, Time.now) %> ago
           </p>
          <% end %>
        </div>

    </div>
    </body>
</html>